*{
<<<<<<< HEAD
  margin:auto;
  padding:0px;

=======
  margin:0px;
  padding:0px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
header,nav,footer,main,section{
  display:block;
}
<<<<<<< HEAD

.col-6 {
	width: 50%;
	float: left;
	
}

.clear {
    clear: both;
}

=======
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
@font-face{
  font-family: girls;
  src:url(../fonts/SourceSansPro-Regular.otf);
}
body
{
    font-family: girls;
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    width: 100%;
}
#page1
{
<<<<<<< HEAD
    min-height: 800px;
    background-image: url("../images/Introimage.png");
    width: 100%;
    background-size: cover;
}
.logo
{
  width:235px ;
  height:149px;
  background:url('../images/Logo.svg') no-repeat;
  display:block;
  text-align: left;
  margin-left: 65px;

}

.logo2
{
  display:block;
  width:127px;
  text-align: left;
  height:149px;
  background:url('../images/Logosmall.svg') no-repeat;
  margin-left: 65px;
}

.logoContainer {
	width: 100%;
	height:149px;
	display:block;
	padding-top: 50px;
	
=======
    height: 602px;
    background-image: url("../images/Introimage.png");
}
.logo
{
  display:block;
  width:235px;
  height:149px;
  background:url('../images/Logo.svg') no-repeat;
  position: relative;
  top:5%;
  left:5%;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#line
{
    height:10px;
    background-color: #ff44fe;
<<<<<<< HEAD
  
=======
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#pageOneTitle
{
    color: #ffffff;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: -0.1px;
<<<<<<< HEAD
    margin-top: 10px;
    margin-left: 65px;
=======
    margin-top: 50px;
    margin-left: 60px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    font-family: girls;
}
.scroll
{
    color: #ff44fd;
    font-size: 21.3px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0px;
<<<<<<< HEAD
    margin-top: 435px;
}
.arrow
{
    width: 100%;
    height: 40px;
	cursor: pointer;
    margin-bottom: 20px;
=======
    margin-top: 250px;
}
.arrow
{
    width: 59px;
    height: 40px;
    margin-left: 580px;
    position: relative;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    -webkit-animation: mymove 2s infinite; 
    animation: mymove 2s infinite;
}
@-webkit-keyframes mymove {
    0%   {top: 5px;}
    25%  {top: 5px;}
    75%  {top: 10px}
    100% {top: 5px;}
}
@keyframes mymove {
    0%   {top: 5px;}
    25%  {top: 5px;}
    75%  {top: 10px}
    100% {top: 5px;}
}
#page2
{
<<<<<<< HEAD
    min-height: 700px;
    background-color: #19181e;
    width: 100%;
    background-size: cover;
}
#line2
{
   
    width: 5%;
    
 
=======
    height: 602px;
    background-color: #19181e;
}
#line2
{
    height:10px;
    width: 64px;
    background-color: #ff44fe;
    float:left;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#line3
{
    height:10px;
    background-color: #625f75;
<<<<<<< HEAD
    width: 95%;
    float:left;
=======
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    
}
#diff
{
    color: #ff44fd;
}
.page2Intro
{
    color: #f8e9ed;
    margin-left: 60px;
    margin-top: 37px;
    float: left;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: -0.1px;
<<<<<<< HEAD
    margin-bottom: 100px;
=======
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#scroll2
{
    color: #ff44fd;
<<<<<<< HEAD
    font-size: 21.3px;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    width:100%;
}

.page2Intro2
{
    color: #f8e9ed;
    font-size: 16px;
    margin-top: 20%;
    margin-left:60px;

	
}
#page3
{
    min-height: 800px;
    background-image: url("../images/Depression.png");
    background-color: #19181e;
    width: 100%;
    background-size: cover;
}
#line4
{

    width: 10%;

    
}
#line5
{
 width:90%;
=======
    position: absolute;
    font-size: 21.3px;
    font-weight: normal;
    letter-spacing: 0px;
    margin-top: 370px;
    left: 530px;
}
#arrow2
{
    width: 59px;
    height: 40px;
    margin-left: 580px;
    margin-top: 45px;
    position: relative;
    -webkit-animation: mymove 2s infinite; 
    animation: mymove 2s infinite;
}
.page2Intro2
{
    color: #f8e9ed;
    position: relative;
    float:right;
    top: -300px;
    font-size: 16px;
    right: 25px;
}
#page3
{
    height: 602px;
    background-image: url("../images/Depression.png");
    background-color: #19181e;
}
#line4
{
    height:10px;
    width: 94px;
    background-color: #ff44fe;
    float:left;
}
#line5
{
    height:10px;
    background-color: #625f75;  
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#chap1
{
    color: #ffffff;
    line-height: 0.49px;
    font-size: 61.3px;
    font-family: girls;
    margin-top: -15px;
    margin-left: 60px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1px;
    width: 264px;
    height: 30px;
}
#chap1Sec
{
    color: #ffffff;
<<<<<<< HEAD
=======
    line-height: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    font-size: 61.3px;
    font-family: girls;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: bold;
    letter-spacing: 0.1px;
    font-style: normal;
<<<<<<< HEAD

=======
    width: 490px;
    height: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#P1
{
    font-family: girls;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 60px;
    margin-top: 20px;
}
#line6
{
<<<<<<< HEAD

    width: 15%;
   
}
#line7
{
    width: 85%;
    
}
#page4
{
    min-height: 800px;
=======
    height:10px;
    width: 114px;
    background-color: #ff44fe;
    float:left;
}
#line7
{
    height:10px;
    background-color: #625f75;  
}
#page4
{
    height: 602px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    background-color: #19181e;
}
#headLine
{
    color: #ffffff;
    line-height: 0.49px;
    font-size: 30.6px;
    font-family: girls;
    margin-top: -20px;
    margin-left: 60px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
    width: 264px;
    height: 15px;
}
<<<<<<< HEAD

=======
.logo2
{
  display:block;
  width:245px;
  height:149px;
  background:url('../images/Logosmall.svg') no-repeat;
  position: relative;
  top:5%;
  left:5%;
}
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
#P2
{
    font-family: girls;
    font-size: 19px;
    color: #ffffff;
    margin-left: 60px;
<<<<<<< HEAD
    margin-top: 20px;
=======
    margin-top: 10px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    font-weight: normal;
}
#side
{
    font-family: girls;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
<<<<<<< HEAD
=======
    float: right;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    margin-right: 250px;
    margin-top: 230px;
}
#P3
{
    font-family: girls;
    font-size: 19px;
    color: #635f75;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: normal;
    font-style: normal;
}
#page5
{
<<<<<<< HEAD
   min-height: 920px;
=======
    height: 602px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    background-color: #19181e;
}
#line8
{
<<<<<<< HEAD
    width: 20%;
    
=======
    height:10px;
    width: 310px;
    background-color: #ff44fe;
    float:left;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#line9
{
    height:10px;
<<<<<<< HEAD
    background-color: #625f75; 
    width: 80%;
    float: left;
    
=======
    background-color: #625f75;  
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#headLine1
{
     color: #ffffff;
    line-height: 0.49px;
    font-size: 30.6px;
    font-family: girls;
    margin-top: 50px;
    margin-left: 60px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
    width: 264px;
    height: 15px;   
}
#side1
{
    font-family: girls;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
<<<<<<< HEAD
    margin-right: 250px;
    margin-top: 100px;   
=======
    float: right;
    margin-right: 250px;
    margin-top: 10px;   
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
#P4
{
    font-family: girls;
    font-size: 19px;
    color: #ffffff;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: normal;
    font-style: normal;
}
#page6
{
<<<<<<< HEAD
    min-height: 800px;
=======
    height: 602px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    background-color: #19181e;
}
#side2
{
     font-family: girls;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
<<<<<<< HEAD
=======
    float: right;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    margin-right: 250px;
    margin-top: 100px;    
}
#line10
{
<<<<<<< HEAD

    width: 25%;

   
}
#line11
{

    width:75%;

    
}
#page7
{
    min-height: 1000px;
    background-image: url("../images/Syriabombing.png");
    background-color: #19181e;
    background-size: cover;
    width: 100%;
}
#line12
{
    width: 30%;
    
=======
    height:10px;
    width: 450px;
    background-color: #ff44fe;
    float:left;
}
#line11
{
    height:10px;
    background-color: #625f75;  
}
#page7
{
    height: 602px;
    background-image: url("../images/Syriabombing.png");
    background-color: #19181e;
}
#line12
{
    height:10px;
    width: 480px;
    background-color: #ff44fe;
    float:left;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.firstrow
{
    color: #ffffff;
}
.line1
{
    font-family: girls;
    font-size: 30px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;

=======
    left: 700px;
    top: -90px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line2
{
    font-size: 30px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;

=======
    left: 290px;
    top: -53px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line3
{
    font-size: 25px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
=======
    left: 700px;
    top: -50px;
    padding-right: 5px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line4
{
    font-size: 20px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
   
=======
    left:275px;
    top: -20px;
    padding-right: 20px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line5
{
    font-size: 17px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
    
=======
    left:700px;
    top: -15px;
    padding-right: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line6
{
    font-size: 15px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
    
=======
    left:315px;
    top: 10px;
    padding-right: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line7
{
    font-size: 15px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
    
=======
    left:700px;
    top: 15px;
    padding-right: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line8
{
    font-size: 13px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
    
=======
    left:182px;
    top: 40px;
    padding-left: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.line9
{
    font-size: 10px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
    margin-right: 20px;
}

=======
    left:670px;
    top: 40px;
    padding-left: 30px;
}
#l1
{
    position: relative;
    top: -260px;
}
#l2
{
    position: relative;
    top: -220px;
}
#l3
{
    position: relative;
    top: -220px;
}
#l4
{
    position: relative;
    top: -190px;
}
#l5
{
    position: relative;
    top: -190px;
}
#l6
{
    position: relative;
    top: -170px;
}
#l7
{
    position: relative;
    top: -150px;
    left: 3px;
}
#l8
{
    position: relative;
    top: -150px;
    left: 700px;
}
#l9
{
    position: relative;
    top: -130px;
    left: 440px;
}
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
.year1
{
    font-size: 30px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
    
=======
    position: relative;
    left:699px;
    top: -180px;
    padding-left: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.year2
{
    font-size: 25px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
=======
    position: relative;
    left:335px;
    top: -140px;
    padding-left: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.year3
{
    font-size: 20px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
=======
    position: relative;
    left:700px;
    top: -140px;
    padding-left: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.year4
{
    font-size: 17px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
=======
    position: relative;
    left:460px;
    top: -110px;
    padding-left: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.year5
{
    font-size: 15px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
=======
    position: relative;
    left:122px;
    top: -80px;
    padding-left: 1px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.year6
{
    font-size: 13px;
    color: #f8e9ed;
<<<<<<< HEAD
    margin-right: 20px;
}
#page8
{
    min-height: 1000px;
    background-image: url("../images/Crowd.png");
    background-color: #19181e;
    background-size: cover;
    width: 100%;
}
#line13
{
    width: 70%;
    
}
#page9
{
    height: 1000px;
=======
    position: relative;
    left:700px;
    top: -80px;
    padding-left: 3px;
}
#page8
{
    height: 602px;
    background-image: url("../images/Crowd.png");
    background-color: #19181e;
}
#line13
{
    height:10px;
    width: 700px;
    background-color: #ff44fe;
    float:left;
}
#page9
{
    height: 602px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    background-color: #19181e;
}
.s1
{
    font-family: girls;
    font-size: 30px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD

=======
    left: 700px;
    top: -100px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s2
{
    font-size: 30px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD

=======
    left: 350px;
    top: -63px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s3
{
    font-size: 25px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
=======
    left: 700px;
    top: -60px;
    padding-right: 5px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s4
{
    font-size: 20px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
=======
    left:255px;
    top: -30px;
    padding-right: 20px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s5
{
    font-size: 17px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
=======
    left:702px;
    top: -30px;
    padding-right: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s6
{
    font-size: 15px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
=======
    left:294px;
    top: -5px;
    padding-right: 30px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s7
{
    font-size: 15px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
=======
    left:700px;
    top: -2px;
    padding-right: 3px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
}
.s8
{
    font-size: 13px;
    color: #f8e9ed;
    position: relative;
<<<<<<< HEAD
}
#page10
{
    height: 887px;
=======
    left:162px;
    top: 15px;
    padding-left: 20px;
}
#page10
{
    height: 602px;
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
    background-image: url("../images/party.png");
    background-color: #19181e;
}
#line14
{
<<<<<<< HEAD
width: 35%;
}

#line15
{
width: 65%;
}

#line16
{
width: 40%;
}

#line17
{
width: 60%; 
}

#line18
{
width: 45%;
}

#line19
{
width: 55%;
}

#line20
{
width: 50%;
}

#line21
{
width: 50%;
}

#line22
{
width: 55% ;
}

#line23
{
width: 45%;
}

#line24
{
width: 60%;
}

#line25
{
width: 40%;
}

#line26
{
width: 65%;
}

#line27
{
width: 35%;
}

#line28
{
width: 70%;
}

#line29
{
width: 30%;
}
#line30
{
width: 80%;
}

#line31
{
width: 20%;
}

#line32 {
	width: 90%;
}

#line33 {
	width:10%;
}

.SeperateLinePink {
	height:10px;
    background-color: #ff44fe;
    float:left;
}

.SeperateLineGrey {
	height:10px;
    background-color: #625f75;
    float:left;
}


.page7part2{
	background :#19181E;
}

.pink {
	color: pink;
}

.celebImg {
	width: 15%;
	height: 113px;
	
}

.celebGraph {
	width:82%; 
	display: inline-block;
}

.illnessTag {
	width: 10%;
	height: 113px;
	color: #ffffff;
	display: inline-block;
	line-height: 113px;
	margin-left: 5%;
	font-size: 24px;
	
}

.illnessGraph {
	width: 80%;
    display: inline-block;
    
	
}


@media screen and (max-width:750px) {
		
	
.col-6 {
	width: 100%;

}

.wordCloud {
	margin-left : 60px;
	margin-top: 60px;
}

.page2Intro2 {
	margin-top:10%;
	margin-bottom:10%;
	
}

.celebImg  {
	width:100%;
}

.celebGraph {
	width:100%;
}

.illnessTag {

	
}

.illnessGraph {
	width:100%;
}

#side {
	margin-left: 60px;
}
#side1 {
	margin-left: 60px;
}
#side2 {
	margin-left: 60px;
}
}
=======
    height:10px;
    width: 1100px;
    background-color: #ff44fe;
    float:left;
}
@import "css3";

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://markmurray.co/codepen/entypostyle.css);

$font:   'Roboto', sans-serif;
$weight: 100;
$colors: #3498db, #1abc9c, #9b59b6, #e74c3c, #e67e22;



section {
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0; top: 0;
   display: table;
   overflow: hidden;
   z-index: 1;
  
  .content {
     text-align: center;
     display: table-cell;
     vertical-align: middle;
     color: white;
     padding: 20px;
     font-size: 5rem;
     line-height: 50px;
     font-family: $font;
     font-weight: $weight;
    
  
    
    .arrow {
        font-size: 2rem;
        line-height: 0.5;
        padding: 10px;
        @include border-radius(8px);
    }
  }
}

.section1 {
  top:0;
}
.section2 {
  top:100%;
}
.section3 {
  top:200%;
}
.section4 {
  top:300%;
}
.section5 {
  top:400%;
}
.section6 {
  top:500%;
}
.section7 {
  top:600%;
}
.section8 {
  top:700%;
}
.section9 {
  top:800%;
}
.section10 {
  top:900%;
}
>>>>>>> c1df8107d975d0d7ba838faf4d3ed5dfd299c878
